/* Images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Nav */
.wy-nav-content {
    max-width: 1200px
}

/* Tables */
table {
    margin-bottom: 24px;
    width: 100%;
}

th {
    background-color: #f0f0f0;
    padding: 6px;
}

td {
    padding: 6px;
}